* {
    font-family: quicksand;
}

body {
    position: relative;
}

h3 {
    text-align: center;
}

.back {
    color: black;
    font-family: quicksand;
    font-weight: bold;
    text-decoration: none;
    font-size: xx-large;
}

.nav-bar {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }