* {
    font-family: quicksand;
    text-align: justify;
    box-sizing: border-box;
}

body {
    scroll-padding-top: 200px;
    margin-top: 25vh;
}

h1, h3 {
    text-align: center;
}

.nav-bar {
    background-color: rgb(27, 27, 27);
    left: 0;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-list a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.nav-list a:hover {
    text-decoration: underline;
}

.nav-bar ul {
    text-align: center;
}

.nav-bar li {
    display: inline-block;
    margin-right: 25px;
}

.back {
    color: white;
    font-weight: bold;
    font-size: xx-large;
    padding: 0;
    text-align: left;
    text-decoration: none;
    top: 0;
    width: 100%;
}

.main {
    z-index: 2;
    scroll-padding-top: 125px;
}

.main ul {
    display: inline-block;
    width: 65%;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}