<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/tarantino_style.css">
    <link rel="shortcut icon" href="../assets/images/tarantino_favicon.png" type="image/png">
    <title>Position Fixed</title>
</head>

<body>
    <nav class="nav-bar">
        <a class="back" href="../index.html">
            &lt; Back</a>
        <!-- ul>li*# para crear listas con elementos rápidamente -->
        <ul class="nav-list">
            <li><a href="#reservoir-dogs">Reservoir Dogs</a></li>
            <li><a href="#pulp-fiction">Pulp Fiction</a></li>
            <li><a href="#kill-bill">Kill Bill: Vol. 1</a></li>
            <li><a href="#once-upon">Once Upon a Time... in Hollywood</a></li>
        </ul>
    </nav>
    <h1>TARANTINO'S MOVIES</h1>
    <div class="main">
        <h3 id="reservoir-dogs">Reservoir Dogs</h3>
        <img class="poster" src="../assets/images/reservoir_dogs.png" alt="Imagen del póster de Reservoir Dogs (1992)">
        <ul>
            <li><b>Fecha de estreno:</b> 09/Oct/1992</li>
            <li><b>Reparto Estelar:</b> Harvey Keitel, Tim Roth, Chris Penn, Steve Buscemi, Lawrence Tierney, Michael
                Madsen</li>
            <li><b>Sinopsis:</b> Seis criminales profesionales son contratados para robar en un almacén de diamantes,
                pero la policía aparece inesperadamente en el momento del atraco. Algunos miembros de la banda mueren en
                el enfrentamiento y otros logran huir.</li>
        </ul>
        <h3 id="pulp-fiction">Pulp Fiction</h3>
        <img class="poster" src="../assets/images/pulp_fiction.jpg" alt="Imagen del póster de Pulp Fiction (1994)">
        <ul>
            <li><b>Fecha de estreno:</b> 14/Oct/1994</li>
            <li><b>Reparto Estelar:</b> John Travolta, Samuel L. Jackson, Uma Thurman, Harvey Keitel, Tim Roth, Amanda
                Plummer, Maria de Medeiros, Ving Rhames, Eric Stoltz, Rosanna Arquette, Christopher Walken, Bruce Willis
            </li>
            <li><b>Sinopsis:</b> Historias de dos matones, un boxeador y una pareja de atracadores de poca monta
                envueltos en una violencia espectacular e irónica.</li>
        </ul>
        <h3 id="kill-bill">Kill Bill: Vol. 1</h3>
        <img class="poster" src="../assets/images/kill_bill.png" alt="Imagen del póster de Kill Bill (2003)">
        <ul>
            <li><b>Fecha de estreno:</b> 10/Oct/2003</li>
            <li><b>Reparto Estelar:</b> Uma Thurman, Lucy Liu, Vivica A. Fox, Michael Madsen, Daryl Hannah, David
                Carradine, Sonny Chiba, Julie Dreyfus, Chiaki Kuriyama </li>
            <li><b>Sinopsis:</b> Mamba Negra es una asesina que, el día de su boda, es atacada por los miembros de la
                banda de su jefe, Bill. Sin embargo consigue sobrevivir, aunque queda en coma. Cinco años después
                despierta, con un deseo de venganza.</li>
        </ul>
        <h3 id="once-upon">Once Upon a Time... in Hollywood</h3>
        <img class="poster" src="../assets/images/once_upon.png"
            alt="Imagen del póster de Once Upon a Time... In Hollywood (2019)">
        <ul>
            <li><b>Fecha de estreno:</b> 10/Oct/2003</li>
            <li><b>Reparto Estelar:</b> Leonardo DiCaprio, Brad Pitt, Margot Robbie, Emile Hirsch,Margaret Qualley,
                Timothy Olyphant, Austin Butler, Dakota Fanning, Bruce Dern, Al Pacino</li>
            <li><b>Sinopsis:</b> Hollywood, años 60. La estrella de un western televisivo, Rick Dalton, intenta
                amoldarse a los cambios del medio al mismo tiempo que su doble. La vida de Dalton está ligada
                completamente a Hollywood, y es vecino de la joven y prometedora actriz y modelo Sharon Tate que acaba
                de casarse con el prestigioso director Roman Polanski.</li>
        </ul>
    </div>
</body>

</html>