<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/tarantino_style.css">
    <link rel="shortcut icon" href="../assets/images/tarantino_favicon.png" type="image/png">
    <title>Position Fixed</title>
</head>

<body>
    <a class="back" href="../index.html">
        &lt; Back</a>
    <div class="nav-bar">
        <h2>TARANTINO'S MOVIES</h2>
        <ul>
            <li><a href="#kill-bill">Kill Bill: Vol. 1</a></li>
            <li><a href="#pulp-fiction">Pulp Fiction</a></li>
            <li><a href="#once-upon">Once Upon a Time... in Hollywood</a></li>
            <li><a href="#resevouir-dogs">Reservouir Dogs</a></li>
        </ul>
    </div>
    <h3 id="kill-bill">Kill Bill: Vol. 1</h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
    </p>
    <h3 id="pulp-fiction">Pulp Fiction</h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
    </p>
    <h3 id="once-upon">Once Upon a Time... in Hollywood</h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
    </p>
    <h3 id="resevouir-dogs">Reservouir Dogs</h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto sed dolore praesentium atque, facilis quos
        pariatur ipsum harum autem earum iusto amet beatae eaque sapiente, dolorum nemo consectetur! Officia, inventore!
    </p>
</body>

</html>