<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/xmas_cat_style.css">
    <title>Position relative-absolute</title>
</head>

<body>
    <a class="back" href="../index.html">
        &lt; Back</a>
    <div class="contenedor">
        <img class="gorrito" src="https://assets.digitalhouse.com/content/ar/fs/gorro.jpg"
            alt="Imagen de un gorro de Navidad.">
        <img class="gato" src="https://bit.ly/2OhSDTE" alt="Imagen de un gato persa.">
    </div>
</body>

</html>